<%- include("templates/header") %>
<div class="container-fluid">
  <h1 class="mb-3">Sign up</h1>
  <form action='/submitUser' method='post'>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input name='name' type='text' class='form-control' id='name' placeholder='Name'>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input name='email' type='email' class='form-control' id='email' placeholder='Email'>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input name='password' type='password' class='form-control' id='password' placeholder='Password'>
    </div>
    <button type='submit' class='btn btn-primary'>Sign up</button>
  </form>
</div>

<%- include("templates/footer") %>