<%- include("templates/header") %>
<div class="d-flex flex-column align-items-center justify-content-center">
  <h1>Error</h1>
    <p>Invalid Email or Password.</p>
    <a href="/login">Go back to the Login page</a>
  </div>
  <%- include("templates/footer") %>